// * Bootswatch v4.0.0-beta.2

/* Phoenix flash messages */

.alert:empty {
    display: none;
}

// form errors
.form-group .help-block {
    color: #e11b1b;
}

// div#page-header.jumbotron {
//     color: white;
//     /* background-color: black; */
//     background-image: url(https://i.imgur.com/BFq48XQ.jpg);
//     -webkit-background-size: cover;
//     position: relative;
//     background-size: cover;
//     overflow: hidden;
//     height: 100%;
// }
div#page-header.jumbotron {
    text-align: center;
    color: white;
    background-image: url(https://i.imgur.com/BFq48XQ.jpg);
    -webkit-background-size: cover;
    position: relative;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.nav-link .active {
    font-weight: bolder;
}

.input-group-addon {
    color: thistle;
    background-color: #ffffff;
}

.card-header {
    text-align: center;
}

.card-footer {
    text-align: center;
}

// center the login button /login page?
.form-group> {
    text-align: center;
    display: block;
    // display: flex;
    justify-content: center;
}

.form-group>button.btn.btn-primary {
    text-align: center;
    display: flex;
    justify-content: center;
}